* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /*font*/
  --font_heading: "Sora", sans-serif;
  --font_text: "Space Mono", monospace;

  /*font-weight*/
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /*color*/
  --primary_color: #065545;
  --dark_green: #012a22;
  --text_color: #3d3d3d;
  --clr_white: #fff;
  --clr_white1: #e8fcf5;
  --clr_black: #000;
  --clr_black1: #222;
  --clr_orange: #febf58;
  --lime_green: #9ff1d5;

  /*transition*/
  --transition-duration: 0.4s;
  --transition-timing-function: ease;

  /*letter spacing*/
  --spacing: -0.32px;
}

/*css reset*/
h1,
.h1 {
  font-size: 80px;
}

h2,
.h2 {
  font-size: 48px;
}

h3,
.h3 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

figure {
  margin-bottom: 0;
}
img {
  height: auto;
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  transition-property: color, opacity, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

body {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

/*header css*/

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 150px;
  width: 100%;
  max-width: 1600px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 24px 40px;
}

nav ul.nav_links {
  display: flex;
  align-items: center;
}

nav ul.nav_links li a {
  text-transform: capitalize;
  color: var(--clr_black1);
  margin-left: 40px;
  font-size: 18px;
  width: fit-content;
}

nav ul.nav_links li a:hover {
  color: var(--clr_white);
  border-bottom: 2px solid var(--clr_white);
}

nav ul.nav_links li:first-child a {
  margin-left: 0;
}

#hamburger {
  display: none;
}

.hero {
  position: relative;
  top: 260px;
  /* height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: none;
  align-items: center; */
}

.hero_content {
  max-width: 856px;
  position: relative;
  padding-left: 153px;
}

.hero_content h1 {
  font-family: var(--font_heading);
  font-weight: var(--semibold);
  text-transform: capitalize;
  margin-bottom: 40px;
  line-height: 90px;
  letter-spacing: var(--spacing);
  color: var(--clr_white);
}

.hero_content p {
  font-family: var(--font_text);
  font-size: 28px;
  font-weight: var(--regular);
  color: var(--clr_white);
  line-height: 42px;
  letter-spacing: 0.16px;
}

/*about*/
.about {
  padding-top: 194px;
}

.about_para {
  font-family: var(--font_text);
  font-weight: var(--regular);
  line-height: 28px;
  letter-spacing: 0.16px;
  margin-bottom: 32px;
  max-width: 1076px;
}

.about .about_block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.card {
  flex-grow: 1;
  padding-top: 32px;
  width: calc(100% / 3 - 25px);
  border-left: 1px solid var(--clr_orange);
}

.card:first-child {
  border-left: none;
}

.card:first-child .card_body {
  padding-left: 0;
}

.card .card_body {
  margin-bottom: 64px;
  padding-left: 24px;
}

.card .card_body h2 {
  font-family: var(--font_heading);
  color: var(--primary_color);
  line-height: 40px;
  letter-spacing: var(--spacing);
  margin-bottom: 16px;
  max-width: 255px;
}

.card .card_body p {
  font-family: var(--font_text);
  font-weight: var(--regular);
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 24px;
  margin-bottom: 32px;
  max-width: 355px;
}

.card .card_body a {
  border: 1.5px solid var(--primary_color);
  border-radius: 50%;
  padding: 16px 17px;
}

.card .card_body a:hover {
  padding: 10px 20px;
  background-color: var(--clr_orange);
  border-radius: 20px;
  border: none;
}

/*video*/

.video {
  background-color: var(--dark_green);
  padding-top: 96px;
  text-transform: capitalize;
}
.video_title {
  font-family: var(--font_heading);
  font-weight: var(--semibold);
  letter-spacing: var(--spacing);
  line-height: 58px;
  color: var(--lime_green);
  margin-bottom: 96px;
}

.video_block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.video_card {
  flex: 1;
  position: relative;
  width: calc(100% / 3 - 25px);
  overflow: hidden;
  border-right: 1px solid var(--primary_color);
}

.video_card:last-child {
  border-right: 0;
}

.video_card video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video_card-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px 64px 72px 0;
  gap: 24px;
}

.video_card-body img {
  height: 32px;
}

.video_card-body h3 {
  font-family: var(--font_heading);
  line-height: 28px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: var(--clr_white1);
}

.video_card-body p {
  font-family: var(--font_text);
  color: var(--clr_white1);
  letter-spacing: 0.32px;
  line-height: 28px;
  font-size: 20px;
}

/*footer*/

footer {
  background-color: var(--dark_green);
}

.footer-block {
  background-color: var(--clr_white);
  padding: 78px 119px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer_logo img {
  height: 130px;
}

ul.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 19px;
  margin-top: 107px;
}
ul.social-links li a img {
  height: 29px;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 118px;
}

.footer_links ul li a {
  font-family: var(--font_text);
  color: var(--dark_green);
  font-size: 19px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.16px;
  text-transform: capitalize;
}

.footer_links ul li {
  margin-bottom: 8px;
}
.footer_links ul li:last-child {
  margin: 0;
}

@media (max-width: 991px) {
  .hero_content {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero_content h1 {
    line-height: 45px;
  }

  .hero_content p {
    font-size: 24px;
  }

  .about {
    padding: 120px 16px 0 16px;
  }

  .video {
    padding: 96px 16px 0 16px;
  }

  .video_title {
    margin-bottom: 50px;
  }
  .footer-block {
    padding: 50px 16px;
  }

  ul.social-links {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  nav {
    height: 100px;
    padding: 16px;
  }

  nav ul.nav_links {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  }

  nav ul.nav_links li a {
    margin-left: 0;
  }

  nav ul.nav_links.active {
    max-height: 300px;
    opacity: 1;
  }

  #hamburger {
    display: block;
    font-size: 32px;
  }

  .hero {
    position: relative;
    top: unset;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .header_logo img {
    height: 50px;
    object-fit: cover;
  }

  .hero_content {
    padding: 0 16px;
  }

  .card {
    width: calc(100% / 2 - 25px);
    border: unset;
  }

  .card .card_body {
    padding-left: unset;
  }

  .video_card {
    flex-basis: calc(100% / 2 - 25px);
    border: unset;
  }
}

@media (max-width: 600px) {
  h1,
  .h1 {
    font-size: 40px;
  }

  .hero_content h1 {
    margin-bottom: 20px;
    line-height: 40px;
  }
  .hero_content p {
    font-size: 16px;
    line-height: 32px;
  }

  .card {
    width: 100%;
    padding-top: 8px;
  }
  .card .card_body h2,
  .card .card_body p {
    max-width: 100%;
  }

  .video_card {
    width: 100%;
    flex-basis: 100%;
  }

  .video_card-body {
    padding: 20px 0px 36px 0;
    gap: 12px;
  }
  .footer-block {
    flex-direction: column;
    gap: 30px;
  }

  ul.social-links {
    margin-top: 24px;
  }

  .footer_links {
    flex-direction: column;
    gap: 30px;
  }

  .about {
    padding-top: 60px;
  }

  .card .card_body h2 {
    line-height: 28px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }

  .video {
    padding: 75px 16px 0 16px;
  }
  .video_title {
    margin-bottom: 30px;
  }

  .video_card-body p {
    font-size: 16px;
  }

  .footer_logo img {
    height: 80px;
  }
}
